player-connection-mode=Listen
player-connection-guid=1692262353
player-connection-debug=0
player-connection-project-name=代号Pet
player-connection-ip=172.16.0.55
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
force-d3d11-bitblt-model=
build-guid=09d8e0c16242488a965ac6a7389f094b
