player-connection-mode=Listen
player-connection-guid=1757584379
player-connection-debug=0
player-connection-project-name=代号Pet
player-connection-ip=30.30.59.46
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
force-d3d11-bitblt-model=
build-guid=3190ed40caa24a0d9077cc41411baf46
