player-connection-mode=Listen
player-connection-guid=3699013244
player-connection-debug=0
player-connection-project-name=代号Pet
player-connection-ip=172.16.0.55
player-connection-ip=192.168.255.10
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
force-d3d11-bitblt-model=
build-guid=12f695a915a4435088a7249f092e97a9
